#game-start {
    background-image: url("../images/lisbon-cartoon.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#gamestart-whitebackground {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
}

#gamestart-whitebackground p {
    
}

#game-screen {
    display: none;
    align-content: center;
    position: relative;
    overflow: hidden; /* it prevents the objects from leaving the screen */
    background-color:rgb(0, 170, 255);
    /* don't put any padding here */

}

#game-container {
    display: none;
}

#game-end {
    display: none;
}

.start-image {
    width: 200px;
}